@import "tailwindcss";

@theme {
    /* Fonts */
    --font-barlow: var(--font-barlow), sans-serif;
    --font-fraunces: var(--font-fraunces), serif;

    /* Font size */
    --text-h1-small: 2.5rem;
    --text-h2-small: 2rem;
    --text-h3-small: 1.75rem;
    --text-h4-small: 1rem;
    --text-base: 1.125rem;
    --text-small: 0.94rem;

    /* Primary Colors */
    --color-soft-red: hsl(7, 99%, 70%);
    --color-yellow: hsl(51, 100%, 49%);
    --color-light-desaturated-cyan: hsl(168, 45%, 70%);
    --color-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --color-dark-blue: hsl(198, 62%, 26%);
    --color-dark-moderate-cyan: hsl(168, 34%, 41%);

    /* Neutral Colors */
    --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --color-dark-grayish-blue: hsl(232, 10%, 55%);
    --color-grayish-blue: hsl(210, 4%, 67%);
    --color-white: hsl(0, 0%, 100%);

    /* Spacing */
    --spacing-xs: 1.5rem;
    --spacing-s: 2rem;
    --spacing-section-small: 2.5rem;
    --spacing-m: 3.25rem;
    --spacing-l: 4rem;
    --spacing-section: 5.4rem;
    --spacing-xl: 6rem;
    --spacing-largest: 9.9rem;
}
